## Password Analysis Project

### Import the libraries

In [27]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as seabornInstance

### Loading the datasets to pandas data frames

* In this step we load all our passwords lists to pandas dataframes

In [28]:
pass_list1 = pd.read_csv('Data/yahoo.txt',sep='delimiter', header = None,engine='python')
pass_list2 = pd.read_csv('Data/hotmail.txt',sep='delimiter', header = None,engine='python')
pass_list3 = pd.read_csv('Data/netflix.txt',sep='delimiter', header = None,engine='python')

* Now we concat all password lists and create a new dataframe called password_list that contains all passwords using the following command.

In [29]:
password_list=pd.concat([pass_list1,pass_list2,pass_list3])

In [59]:
password_list.head()
type(password_list)

pandas.core.frame.DataFrame

In [61]:
password_list.shape

(454482, 1)

In [62]:
places.shape

(96177, 1)

In [63]:
names.shape

(225634, 1)

In [64]:
english_words.shape

(58062, 1)

* Now we will convert all the passwords to lowercase characters for our analysis part using the following command.

In [31]:
new_password_list=password_list[0].str.lower()

In [32]:
new_password_list_reduced=new_password_list[:9]
type(new_password_list_reduced)
new_password_list_reduced=pd.DataFrame(new_password_list_reduced)

In [33]:
new_password_list_reduced

            0
0  @fl!pm0de@
1        pass
2     steveol
3      chotzi
4      lb2512
5      scotch
6    passwerd
7    flipmode
8    flipmode

### Load the other datasets
* In this step we load the other datasets that are going to be part of the data analysis.
* The other loaded datasets are:
1. Dictionary Words
2. Places
3. Names
4. Keyboard Patterns

* Now we will present a little bit more explanations about the datasets:
#### Dictionary Words:
The dictionary words consists of 58108 unique english dictionary words. The words were obtained from the following link:
http://www.mieliestronk.com/corncob_lowercase.txt

#### Places:
The places dataset consists of all country names, all city names, all states names and all street names. The dataset contains 96208 unique place. The dataset was obtained from the following links:
1. https://inventwithpython.com/blog/2011/09/28/list-of-street-names-list-of-last-names/
2. https://simplemaps.com/data/world-cities
3. https://gist.github.com/kalinchernev/486393efcca01623b18d
4. https://github.com/dr5hn/countries-states-cities-database

#### Names
The names dataset consists of all first and last names. It consists of 225706 unique names. The names were obtained from the following link:
https://github.com/philipperemy/name-dataset/tree/master/names_dataset

#### Keyboard patterns
The keyboard pattern consists of all keyboard patterns. This dataset consists of 647 unique keyboard patterns. The dataset was obtained from the following link:
https://docs.google.com/viewer?a=v&pid=sites&srcid=ZGVmYXVsdGRvbWFpbnxyZXVzYWJsZXNlY3xneDo0ODVmMWY1ZjE0ZDk3Yzc2

In [34]:
new_password_list_reduced

            0
0  @fl!pm0de@
1        pass
2     steveol
3      chotzi
4      lb2512
5      scotch
6    passwerd
7    flipmode
8    flipmode

In [50]:
english_words = pd.read_csv('Data/Dictionary_Words.txt', header = None,engine='python')
places = pd.read_csv('Data/Places.txt',sep='delimiter', header = None,engine='python')
names= pd.read_csv('Data/names.txt',sep='delimiter', header = None,engine='python')
keyboard_patterns= pd.read_csv('Data/keyboard_dic.txt',sep='delimiter', header = None,engine='python')

* Now we are going to remove the duplicates from our dataframes using the following commands:

In [51]:
english_words.drop_duplicates(inplace=True)
places.drop_duplicates(inplace=True)
names.drop_duplicates(inplace=True)
keyboard_patterns.drop_duplicates(inplace=True)

* Change all the dataframes to lowercase characters

In [52]:
english_words[0].str.lower()
names[0].str.lower()
keyboard_patterns[0].str.lower()
places[0].str.lower();

In [53]:
english_words=english_words[[(len(str(x)) >=3) for x in english_words[0]]]
names=names[[(len(str(x)) >=3) for x in names[0]]]
places=places[[(len(str(x)) >=3) for x in places[0]]]
#english_words=english_words[english_words[0].map(len) >= 3]
#names=names[names[0].map(len) >= 3]
#places=places[places[0].map(len) >=3]

In [54]:
english_words.shape

(58062, 1)

* Count all passwords that contain english words

In [55]:
passwords=new_password_list_reduced.copy()
count=0
for i in english_words.index.tolist():
    j=0
    newdf=passwords[0].str.contains(pat=str(english_words[0][i]),regex=False)
    j=newdf.sum()
    if(j > 0):
        count+=j
        passwords=passwords[~passwords[0].str.contains(str(english_words[0][i]),regex=False)]
        print(str(english_words[0][i]),count)
print(count)

ass 2
cot 3
eve 4
flip 6
hot 7
7

* Count all names

In [56]:
passwords=new_password_list_reduced.copy()
count_names=0
for i in names.index.tolist():
    j=0
    newdf=passwords[0].str.contains(pat=str(names[0][i]),regex=False)
    j=newdf.sum()
    if(j > 0):
        count_names+=j
        passwords=passwords[~passwords[0].str.contains(str(names[0][i]),regex=False)]
        print(str(names[0][i]),count_names)
print(count_names)

eve 1
ode 3
scot 4
hotz 5
5

* Count all keyboard patterns

In [57]:
passwords=new_password_list_reduced.copy()
count_key=0
for i in keyboard_patterns.index.tolist():
    j=0
    newdf=passwords[0].str.contains(pat=str(keyboard_patterns[0][i]),regex=False)
    j=newdf.sum()
    if(j > 0):
        count_key+=j
        passwords=passwords[~passwords[0].str.contains(str(keyboard_patterns[0][i]),regex=False)]
        print(str(keyboard_patterns[0][i]),count_key)
print(count_key)

wer 1
1

* Count all places

In [58]:
passwords=new_password_list_reduced.copy()
count_places=0
for i in places.index.tolist():
    j=0
    newdf=passwords[0].str.contains(pat=str(places[0][i]),regex=False)
    j=newdf.sum()
    if(j > 0):
        count_places+=j
        passwords=passwords[~passwords[0].str.contains(str(places[0][i]),regex=False)]
        print(str(places[0][i]),count_places)
print(count_places)

0

In [45]:
passwords=new_password_list_reduced

In [46]:
passwords

            0
0  @fl!pm0de@
1        pass
2     steveol
3      chotzi
4      lb2512
5      scotch
6    passwerd
7    flipmode
8    flipmode

In [67]:
all_passwords=pd.DataFrame(new_password_list)

In [75]:
pass_list1.count(numeric_only=True)

Series([], dtype: int64)

In [72]:
type(all_passwords)

pandas.core.frame.DataFrame

In [113]:
test=pass_list1

In [114]:
type(test)

pandas.core.frame.DataFrame

In [115]:
test=pd.to_numeric(pd.Series(test[0]),errors='ignore')

In [116]:
type(test)

pandas.core.series.Series

In [117]:
test1=pd.DataFrame(test)

In [118]:
test1.count(numeric_only=True)

Series([], dtype: int64)

In [102]:
type(test)

pandas.core.series.Series