## Password Analysis Project

### Import the libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as seabornInstance

### Loading the datasets to pandas data frames

* In this step we load all our passwords lists to pandas dataframes

In [2]:
pass_list1 = pd.read_csv('Data/yahoo.txt',sep='delimiter', header = None,engine='python')
pass_list2 = pd.read_csv('Data/hotmail.txt',sep='delimiter', header = None,engine='python')
pass_list3 = pd.read_csv('Data/netflix.txt',sep='delimiter', header = None,engine='python')

* Now we concat all password lists and create a new dataframe called password_list that contains all passwords using the following command.

In [3]:
password_list=pd.concat([pass_list1,pass_list2,pass_list3],ignore_index=True)

In [4]:
password_list.head()
type(password_list)

pandas.core.frame.DataFrame

In [5]:
new_df=password_list.copy()
new_df.rename(columns={0:'Passwords'}, inplace=True)

In [6]:
new_df['length']  = new_df['Passwords'].str.len()

In [7]:
new_df.head()

    Passwords  length
0  @fl!pm0de@      10
1        pass       4
2     steveol       7
3      chotzi       6
4      lb2512       6

In [8]:
def uppercase_finder(string):
    uppercase_index = 0
    for i in string:
          if (i.isupper()) == True:
              uppercase_index = 1
              break
    return uppercase_index

In [9]:
def uppercase_counter(string):
    uppercase_count= 0
    for i in string:
          if(i.isupper()):
                uppercase_count = uppercase_count + 1
    return uppercase_count

In [10]:
def lowercase_count(string):
    count=0
    for i in string:
        if(i.islower()):
            count+=1
    return count

In [11]:
def numeric_finder(string):
    numeric=0
    for i in string:
        if(i.isnumeric()):
            numeric=1
            break
    return numeric

In [12]:
def numeric_count(string):
    count=0
    for i in string:
        if(i.isnumeric()):
            count+=1
    return count

In [13]:
import re
def specialchar_finder(string):
    index=0
    regex=re.compile('[@_!#$%^&*( )<>?/\|}{~:]')
    if(regex.search(string)==None):
        index=0
    else:
        index=1
    return index

In [14]:
def special_char_count(string):
    count=0
    for i in string:
        if(not i.isalnum()):
            count+=1
    return count

In [15]:
def alpha_count(string):
    count=0
    for i in string:
        if(i.isalpha()):
            count+=1
    return count

In [16]:
def origin(string):
    yahoo=pass_list1[0].values.tolist()
    hotmail=pass_list2[0].values.tolist()
    netflix=pass_list2[0].values.tolist()
    if(string in yahoo):
        return 'Yahoo'
    elif(string in hotmail):
        return 'Hotmail'
    else:
        return 'Netflix'

In [17]:
new_df['Has_Upper']=new_df['Passwords'].apply(uppercase_finder)
new_df['Has_Numeric']=new_df['Passwords'].apply(numeric_finder)
new_df['Has_SpecialChar']=new_df['Passwords'].apply(specialchar_finder)
new_df['UpperCase_Count']=new_df['Passwords'].apply(uppercase_counter)
new_df['LowerCase_Count']=new_df['Passwords'].apply(lowercase_count)
new_df['Numeric_Count']=new_df['Passwords'].apply(numeric_count)
new_df['SpecialChar_Count']=new_df['Passwords'].apply(special_char_count)
new_df['Alphabet_Count']=new_df['Passwords'].apply(alpha_count)

In [18]:
new_df.head(100)

,Passwords,length,Has_Upper,Has_Numeric,Has_SpecialChar,UpperCase_Count,LowerCase_Count,Numeric_Count,SpecialChar_Count,Alphabet_Count
0,@fl!pm0de@,10,0,1,1,0,6,1,3,6
1,pass,4,0,0,0,0,4,0,0,4
2,steveol,7,0,0,0,0,7,0,0,7
3,chotzi,6,0,0,0,0,6,0,0,6
4,lb2512,6,0,1,0,0,2,4,0,2
5,scotch,6,0,0,0,0,6,0,0,6
6,passwerd,8,0,0,0,0,8,0,0,8
7,flipmode,8,0,0,0,0,8,0,0,8
8,flipmode,8,0,0,0,0,8,0,0,8
9,alden2,6,0,1,0,0,5,1,0,5
10,salmon,6,0,0,0,0,6,0,0,6
11,tagoogle,8,0,0,0,0,8,0,0,8
12,giants,6,0,0,0,0,6,0,0,6
13,chapman,7,0,0,0,0,7,0,0,7
14,odom115,7,0,1,0,0,4,3,0,4
15,pass,4,0,0,0,0,4,0,0,4
16,pass,4,0,0,0,0,4,0,0,4
17,cryptic,7,0,0,0,0,7,0,0,7
18,chaos128,8,0,1,0,0,5,3,0,5
19,daisydog,8,0,0,0,0,8,0,0,8
20,m8S3ZeN4,8,1,1,0,3,2,3,0,5
21,sunshine,8,0,0,0,0,8,0,0,8
22,pramati,7,0,0,0,0,7,0,0,7
23,nissy,5,0,0,0,0,5,0,0,5
24,deuce,5,0,0,0,0,5,0,0,5
25,sandalwood,10,0,0,0,0,10,0,0,10
26,frazzle,7,0,0,0,0,7,0,0,7
27,manuel,6,0,0,0,0,6,0,0,6
28,surf5375,8,0,1,0,0,4,4,0,4
29,murgatroyd,10,0,0,0,0,10,0,0,10
...,...,...,...,...,...,...,...,...,...,...
70,bozzie,6,0,0,0,0,6,0,0,6
71,trump49,7,0,1,0,0,5,2,0,5
72,now,3,0,0,0,0,3,0,0,3
73,stunner,7,0,0,0,0,7,0,0,7
74,temporal,8,0,0,0,0,8,0,0,8
75,elbereth,8,0,0,0,0,8,0,0,8
76,jerkoff,7,0,0,0,0,7,0,0,7
77,waff1e,6,0,1,0,0,5,1,0,5
78,LTyvNV2q,8,1,1,0,4,3,1,0,7
79,yusuke23,8,0,1,0,0,6,2,0,6
80,contentious,11,0,0,0,0,11,0,0,11
81,styk1965,8,0,1,0,0,4,4,0,4
82,greendoc,8,0,0,0,0,8,0,0,8
83,jordan,6,0,0,0,0,6,0,0,6
84,dewsville,9,0,0,0,0,9,0,0,9
85,june1304,8,0,1,0,0,4,4,0,4
86,elder1,6,0,1,0,0,5,1,0,5
87,yellowjacket,12,0,0,0,0,12,0,0,12
88,catdog00,8,0,1,0,0,6,2,0,6
89,booboo,6,0,0,0,0,6,0,0,6
90,winner,6,0,0,0,0,6,0,0,6
91,amanda,6,0,0,0,0,6,0,0,6
92,nookie,6,0,0,0,0,6,0,0,6
93,charlie1,8,0,1,0,0,7,1,0,7
94,marymary,8,0,0,0,0,8,0,0,8
95,julius,6,0,0,0,0,6,0,0,6
96,chocolat,8,0,0,0,0,8,0,0,8
97,paid2write,10,0,1,0,0,9,1,0,9
98,1adadad,7,0,1,0,0,6,1,0,6
99,bk082704,8,0,1,0,0,2,6,0,2

In [ ]:
new_df['Password_Source']=new_df['Passwords'].apply(origin)

In [19]:
new_df['lower_passwords']=new_df['Passwords'].str.lower()

In [20]:
def f(string):
    val=0
    if(len(string)<=6 or string.isnumeric()):
        val=1
    else:
        if(string.isalpha()):
            val=2
        else:
            val=3
    return val

In [21]:
new_df['RatingA']=new_df['lower_passwords'].apply(f)

In [22]:
new_df.head()

,Passwords,length,Has_Upper,Has_Numeric,Has_SpecialChar,UpperCase_Count,LowerCase_Count,Numeric_Count,SpecialChar_Count,Alphabet_Count,lower_passwords,RatingA
0,@fl!pm0de@,10,0,1,1,0,6,1,3,6,@fl!pm0de@,3
1,pass,4,0,0,0,0,4,0,0,4,pass,1
2,steveol,7,0,0,0,0,7,0,0,7,steveol,2
3,chotzi,6,0,0,0,0,6,0,0,6,chotzi,1
4,lb2512,6,0,1,0,0,2,4,0,2,lb2512,1

### Load the other datasets
* In this step we load the other datasets that are going to be part of the data analysis.
* The other loaded datasets are:
1. Dictionary Words
2. Places
3. Names
4. Keyboard Patterns

* Now we will present a little bit more explanations about the datasets:
#### Dictionary Words:
The dictionary words consists of 58108 unique english dictionary words. The words were obtained from the following link:
http://www.mieliestronk.com/corncob_lowercase.txt

#### Places:
The places dataset consists of all country names, all city names, all states names and all street names. The dataset contains 96208 unique place. The dataset was obtained from the following links:
1. https://inventwithpython.com/blog/2011/09/28/list-of-street-names-list-of-last-names/
2. https://simplemaps.com/data/world-cities
3. https://gist.github.com/kalinchernev/486393efcca01623b18d
4. https://github.com/dr5hn/countries-states-cities-database

#### Names
The names dataset consists of all first and last names. It consists of 225706 unique names. The names were obtained from the following link:
https://github.com/philipperemy/name-dataset/tree/master/names_dataset

#### Keyboard patterns
The keyboard pattern consists of all keyboard patterns. This dataset consists of 647 unique keyboard patterns. The dataset was obtained from the following link:
https://docs.google.com/viewer?a=v&pid=sites&srcid=ZGVmYXVsdGRvbWFpbnxyZXVzYWJsZXNlY3xneDo0ODVmMWY1ZjE0ZDk3Yzc2

In [23]:
english_words = pd.read_csv('Data/Dictionary_Words.txt', header = None,engine='python')
places = pd.read_csv('Data/Places.txt',sep='delimiter', header = None,engine='python')
names= pd.read_csv('Data/names.txt',sep='delimiter', header = None,engine='python')
keyboard_patterns= pd.read_csv('Data/keyboard_dic.txt',sep='delimiter', header = None,engine='python')

In [24]:
print(english_words.shape)
print(names.shape)
print(places.shape)

(58110, 1)
(262214, 1)
(96652, 1)

* Now we are going to remove the duplicates from our dataframes using the following commands:

In [25]:
english_words.drop_duplicates(inplace=True)
places.drop_duplicates(inplace=True)
names.drop_duplicates(inplace=True)
keyboard_patterns.drop_duplicates(inplace=True)

* Change all the dataframes to lowercase characters

In [26]:
english_words[0].str.lower()
names[0].str.lower()
keyboard_patterns[0].str.lower()
places=places[0].str.lower();
places=pd.DataFrame(places)

In [27]:
english_words=english_words[[(len(str(x)) >=4) for x in english_words[0]]]
names=names[[(len(str(x)) >=4) for x in names[0]]]
places=places[[(len(str(x)) >=4) for x in places[0]]]
#english_words=english_words[english_words[0].map(len) >= 3]
#names=names[names[0].map(len) >= 3]
#places=places[places[0].map(len) >=3]

### Dropping all the duplicates from all dataframes

In [28]:
all_lists=pd.concat([names,places,english_words],ignore_index=True)

In [29]:
all_lists.shape

(377283, 1)

In [30]:
all_lists.drop_duplicates(inplace=True)

In [31]:
all_lists.shape

(348524, 1)

In [32]:
type(all_lists)

pandas.core.frame.DataFrame

In [33]:
all_lists.nunique()

0    348524
dtype: int64

In [34]:
names=all_lists.loc[0:224097]

In [35]:
places=all_lists.loc[224098:319809]

In [36]:
words=all_lists.loc[319810:]

In [40]:
ratingB=[]
count = 0
for index, row in new_df.iterrows():
    if(len(row['lower_passwords'])>=7 and not row['lower_passwords'].isnumeric()):
        for index, word in words.iterrows():
            if(word[0] in row['lower_passwords']):
                count=count+1
                break
                #print(count)
        for index, name in names.iterrows():
            if(name[0] in row['lower_passwords']):
                #print(name)
                count=count+1
                break
        for index, place in places.iterrows():
            if(place[0] in row['lower_passwords']):
                #print(place)
                count=count+1
                break
        if(count==0):
            ratingB.append(2)
        if(count==1):
            ratingB.append(0)
        if(count>=2):
            ratingB.append(1)
    else:
        ratingB.append(0)
#print(row['passwords'])
#print(count)
        
new_df['ratingB'] = pd.DataFrame(ratingB, index =new_df.index)

KeyboardInterrupt:

In [ ]:
def has_word(string):
    new_words=words[0].values.tolist()
    new_names=names[0].values.tolist()
    new_places=places[0].values.tolist()
    for word in words:

In [37]:
new_words=words[0].values.tolist()

In [38]:
type(new_words)

list